@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap');

*{
    margin:0; 
    padding: 0;
    box-sizing: border-box;
}
body{
    Font-size: 16px;
    /* font-family: 'Overpass', sans-serif; */
    font-family: 'Ubuntu', sans-serif;
}
p::selection,h1::selection,h2::selection,h3::selection,a::selection{
    color:#fee;
    background-color:var(--Light-red);
}
body::-webkit-scrollbar{
    width: 13px;
    background-color:#fff;
}
body::-webkit-scrollbar-thumb{
    background-color:#e85463;
    border-radius: 10px;
}

:root{
 --Light-red : hsl(356, 100%, 66%);             /* (CTA text) */
 --Very-light-red : hsl(355, 100%, 74%);        /* (CTA hover background) */
 --Very-dark-blue : hsl(208, 49%, 24%);         /* (headings) */
 --White : hsl(0, 0%, 100%);                    /* (text) */
 --Grayish-blue : hsl(240, 2%, 79%);            /* (footer text) */
 --Very-dark-grayish-blue : hsl(207, 13%, 34%); /* (body copy) */
 --Very-dark-black-blue : hsl(240, 10%, 16%);   /* (footer background) */
 
 /* Background gradient - Intro/CTA mobile nav: */

--Very-light-red: hsl(13, 100%, 72%);
--Light-red: hsl(353, 100%, 62%);

/* Background gradient - body: */

--Very-dark-gray-blue: hsl(237, 17%, 21%);
--Very-dark-desaturated-blue: hsl(237, 23%, 32%); 
}

.flecha{
    position: absolute;
    opacity: 0%;
    bottom:200px;
    left: calc(50% - 20px);
    animation: flechaMove 1s 5 ; 
}
@keyframes flechaMove{
    0%{
        transform: translateY(-40px);
        opacity: 100%;
    }
    100%{
        transform: translateY(10px);
        opacity: 0%;
    }
}

.h2>a{
    text-decoration:none;
    color:#fff;
    position:absolute; 
    top:35px;
}

/*--------------------------   barra del menu ------------------------*/

.container-menu{
    display: inline-block;   /* por que no puedo colocar none?  */
    width: 100%; 
    position: absolute;
    top: -1000px;
    left: 0; 
    transition: all .55s;
}
.container-menu-active{
    display:block;
    top:100px;
    box-shadow: 0 0 0px 5000px #0009, inset 0 0 0px 50px #0009;
}


.menu-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:5px 25px;
    background-color: var(--White);
    border-radius: 10px;
    padding:10px 25px; 
    color:#000;
}
.menu-container>div{
    width: 100%;
    display: flex;
    justify-content: center;
    padding:10px 0;
}
.menu-container>div>details{
    width: 100%;
}
.detalle{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fee;
    width: 100%;
    padding:20px 0;
    margin:15px 0; 
    border-radius: 10px;
}

.detalle>a{
    text-decoration: none;
    font-size: 18px;
    color:var(--Very-dark-grayish-blue);
    font-weight: 500;
    padding:10px 0;
    
}

summary{
    list-style: none;
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-weight: 600;
    color:var(--Very-dark-grayish-blue);
    cursor: pointer;
    
}
summary::after{
    content: url(images/icon-arrow-dark.svg);
    margin-left: 10px;
    transition:transform .38s;
}
details[open] summary::after{
    transform: rotate(-180deg);
}



.menu-container>button{
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
    font-weight: 800;
    color:#fff; 
    background-color: transparent;
    border-style: solid;
    border-color: var(--Very-light-red);
    border-radius: 50px;
    width: 140px;
    margin:8px 0px;
    padding:10px 0;
}
.menu-container>button>a{
    text-decoration: none;
    color:var(--Very-dark-blue);
    padding:10px 30px;
}
.menu-container>button:hover{
    background:linear-gradient(-45deg,var(--Light-red),var(--Very-light-red));
    color:var(--White);
}
.menu-container>button>a:hover{
    color:var(--White);
}
hr{
    color :#aaa;
    margin: 10px 0;
    width: 100%;
}

/* ---------------------------------------------------- */


.container_section1{
    background:linear-gradient(-45deg,var(--Light-red),var(--Very-light-red));
    height: 80vh;
    min-height: 450px;
    border-bottom-left-radius: 120px;
    overflow: hidden;
    width:100%;
}

.section1{
    width: 100%;
    height: 80vh;
    background-image:url(images/bg-pattern-intro-mobile.svg);
    background-repeat: no-repeat;
    background-size:1350px;
    background-position:top -200px left -350px;
    animation: fondoIntro 3.5s infinite alternate; 
}
@keyframes fondoIntro{
    0%{
        background-position:top -170px left -300px;
    }
    100%{
        background-position:top -220px left -290px;
    }
}

.section1__header{
    display: flex; 
    justify-content: space-between;  
    align-items: center;
    height: 70px;
    padding: 65px 30px;
    color:#fff;
    font-size: 24px;
}
.section1__image{
    width: 40px;
    background-image: url(images/icon-hamburger.svg); 
    background-repeat: no-repeat;
    background-size: 40px; 
    transform: translate(-15px ,10px);
    height: 40px; 
    transition: all .32s;
    cursor: pointer;
}
.desactivate{
    background-image: url(images/icon-close.svg); 
    background-repeat: no-repeat;
    background-size: 30px; 
    transform: translate(-10px ,10px);
    transition: all .35s;     
}


.section1__description{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 65vh;
    padding:10px 15px ; 
}
.section1__description>h3{
    font-size: 34px;
    width: 100%;
    padding:10px 13px;
    color: #fff;
    text-align: center;
    line-height: 45px;
    font-family: 'Overpass', sans-serif;
}
.section1__description>p{
    color:#ddd; 
    font-family: 'Overpass', sans-serif;
    padding:0 13px;
    font-size: 22px;
    text-align: center;
    line-height: 25px;
    margin-bottom: 50px;
    max-width: 450px;
}

.section1__button{
    text-align: center;
    width: 100%; 
}
.section1__button>button{
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    font-weight: 800;
    color:#fff; 
    background-color: transparent;
    border-style: solid;
    border-color: #fff;
    border-radius: 50px;
    width: 150px;
    margin:0 7px;
    transition: all .5s;
    cursor: pointer;
}
.section1__button>button:hover{
    background-color: #fff;
}

.section1__button>button>p{padding:12px; }
.section1__button>button>p:hover{
    background:linear-gradient(-45deg,var(--Light-red),var(--Very-light-red));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;  /* texto transparente  */
}


/* --------------------section 2  de landing pafe--------------------------------- */

.section2{
    width: 100%;
    text-align: center;
    padding:70px 20px 50px;
    font-family: 'Overpass', sans-serif;
    display: inline-block;
    color:var(--Very-dark-blue);
}
.section2__title{
    font-size: 25px;
}

.section2__image>img{
    width: 100%;
    margin:40px 0 10px;
    animation: image-laptop 2.5s infinite alternate; 
}
@keyframes image-laptop{
    0%{
        /* transform: scale(1) rotate3d(1,1,1,60deg); */        
        transform: scale(1);
        border-radius: 48%;
    }
    100%{
        /* transform: scale(1.40) rotate3d(1,1,1,-60deg); */
        transform: scale(1.09);
        box-shadow: 0 0 200px 1px rgb(252, 234, 227);
        border-radius: 48%;
    }
}
.section2__description>div>h3{
    font-size: 25px;
    color:var(--Very-dark-blue);
    max-width: 256px;
    margin: 40px auto 15px;
}
.section2__description>div>p{
    font-size: 20px;
    max-width: 450px;
    color:var(--Very-dark-grayish-blue);
    margin:0 auto;
}


/* ---------------------------------section 3 page ---------------------------------- */


.section3{
    width: 100%;
}
.section3>.image{
    height: 200px;
    text-align: center;
    /* overflow: hidden; */  
}
.section3>div>img{
    width: 100%;
    max-width: 400px;
}
.container__description{
    background-color: var(--Very-dark-gray-blue);
    text-align: center;
    border-top-right-radius: 90px;
    border-bottom-left-radius: 90px;
    overflow: hidden;
}
.section3__description{
    min-height: 600px;
    height: 66vh;
    background-image: url("images/bg-pattern-circles.svg");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: top -250px center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    padding-bottom: 80px;
     
}
.section3__title{
    width: 350px;
    font-size: 30px;
    color:var(--White);
}
.section3__text{
    color:#bbc;
    width: 350px;
    padding: 25px 15px;
    font-size: 18px;
    line-height: 28px;
}



/* -------------------------section 4 page ----------------------------------------------- */

.section4{
    width: 100%;
    text-align: center;
    padding:30px 5px;
}
.section4>.image>img{
    width: 100%;
    margin:30px 0;
}

.section4__description{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section4__description>p{
    color:var(--Very-dark-desaturated-blue);
    max-width: 350px;
    padding: 25px 15px;
    font-size: 18px;
    line-height: 28px;
}
.section4__title{
    
    max-width: 350px;
    font-size: 30px;
    color:var(--Very-dark-blue);
}

/* -----------------------footer page------------------------------------------------------ */

.footer{
    width: 100%;
    text-align: center;
    background-color: var(--Very-dark-black-blue);
    border-top-right-radius: 120px;
    padding-bottom: 40px;
}
.footer>div>spam{
    display: block;
}
.footer__title{
    color:var(--White);
    font-size: 28px;
    padding: 60px 10px 40px;
    background:linear-gradient(-45deg,#f83,#fca,#fff,#f83);
    -webkit-background-clip: text;
    background-clip: text;  
    -webkit-text-fill-color: transparent;
}
.footer>div>h3{
    color: var(--White);
    font-size: 22px;
    margin:40px 0 15px;
}
.footer>div>spam>a{
    text-decoration: none;
    color:#bbc;
    font-size: 18px;
    line-height: 40px;
}


.attribution{
    width: 100%;
    background-color: var(--Very-dark-black-blue);
    font-size: 24px;
    padding:24px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70vh;
    min-height: 400px;
}
.frontendmentor{
    width: 100%;
    font-size: 14px;
    color:var(--White);
    display: flex;
    align-items: center; 
    justify-content: center;
    margin:20px 0;
}
.frontendmentor>a{
    text-decoration: none;   
    color:#74e1ffe0; 
}
.attribution>.credit{
    font-size: 28px;
    color:var(--White); 
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}
.github{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:10px 0 120px ;
    
}
.github>img{
    background:linear-gradient(-45deg,#888,#fff,#74e1ffe0);
    border-radius: 50%;
    margin:0 20px ;
    animation: githubAnimateIcon 1s infinite alternate;
}

@keyframes githubAnimateIcon{
    0%{
        transform: rotate(-10deg);
    }
    100%{
        transform: rotate(10deg);
    }
}
.github>a{
    color:#74e1ffe0; 
    text-decoration:none;
    font-family:monospace;
    
}





/*-------------------------------------------------------------------------------------------------------------------- 
-------------------------------------------------------------------------------------------------------------------- 
--------------diseño de escritorio   media query ---- 1040px---------------
-------------------------------------------------------------------------------------------------------------------- 
-------------------------------------------------------------------------------------------------------------------- 
*/



@media (min-width:1000px) {
    .container-menu{
        display:inline-block;   /* por que no puedo colocar none?  */
        width: auto; 
        position:static;
        transition: all .55s;
    }
    .menu-container{
        flex-direction:row;
        align-items: flex-start;
        margin:0 0;
        background-color: transparent;
        /* padding:10px 0px;
        height: auto;  */
    }
    hr{ display: none;}
    .menu-container>div{
        width: 150px;
        display: inline-block;
        /* padding:10px 0; */
        margin: 0 12px;
    }
    .menu-container>div>details{
        width: 90%;
    }
    
   
    .detalle{
        width: 170px;
        position: absolute;
        box-shadow: 0px 2px 5px 0px #666;
    }
    .detalle>a:hover{
        color:#faa;
    }


    summary{
        color:var(--White);
        transition: color .35s;
    }
    .sms{
        animation: indicar .5s 5 alternate;
    }
    @keyframes indicar{
        0%{ 
            color :#fff;
        }

        100%{
            color:#a98;
        }
    }
    summary:hover{
        color:#fa9;        
    }
    summary::after{
        content: url(images/icon-arrow-light.svg);
    }

        .menu-container>button{
        font-size: 20px;
        color:#fff; 
        background-color: transparent;
        border-style: none;
        width:120px;
        margin:0px 10px;
        padding:10px 0;
    }
    .menu-container>.button1{margin-left:50px;}   /* ----- */
    .menu-container>button>a{
        text-decoration: none;
        color:var(--White);
        padding:5px 5px;
    }
    .menu-container>button:hover{
        background:linear-gradient(-45deg,var(--Light-red),var(--Very-light-red));
        color:var(--White);
    }
    .menu-container>button>a:hover{
        color:var(--White);
    }
   

    .section1__header{
        display: flex; 
        justify-content: space-between;  
        align-items: center;
        height: auto;
        padding: 30px 30px;
        color:#fff;
        font-size: 24px;
        width: 100%;
    }
    .section1__image{
        width: 0;
        display:none; 
    }
    
    .section1{
        width: 100%;
        height: 80vh;
        background-image:url(images/bg-pattern-intro-desktop.svg);
        background-repeat:no-repeat;
        background-size:2550px;
        background-position:top -1000px left -300px;
        animation:fondoIntro 7s infinite alternate;
    }
    @keyframes fondoIntro{
        0%{
            background-position:top -1100px left -300px;
        }
        100%{
            background-position:top -1000px left -400px;
        }
    }


    /* ------------------section -2  page -------------------------- */

    .section2{
        padding:80px 20px 50px;
        font-family: 'Overpass', sans-serif;
        display: flex;
        flex-direction: row-reverse;
        justify-content:space-around;
        overflow: hidden;
    }
    .section2__title{
        font-size: 27px;
        width: 45%;
    }
    .section2__title>h3{
        position:absolute; 
        left: calc(50% - 160px);
        top:auto;
        color:var(--Very-dark-blue);
    }
    .section2__image>img{
        width: 100%;
        margin:40px 0 10px;
        transform: translateX(110px) scale(1.3);
    }
    .section2__description{
        text-align: left;
        padding-left: 20px;
        margin-top: 70px;
    }
    .section2__description>div>h3{
        font-size: 22px;
        color:var(--Very-dark-blue);
        max-width: 356px;
        margin: 30px 0px;
        text-align: left;
    }
    .section2__description>div>p{
        font-size: 17px;
        max-width: 550px;
        color:var(--Very-dark-grayish-blue);
        margin:0 auto;
    }


    /* ------------------------------section3----page------------------------------- */


    .section3{
        width: 100%;
    }
    .section3>.image{
        height: 90px;
        text-align: start;
        margin-left: 90px;
        /* overflow: hidden; */  
    }
    .section3>div>img{
        width:40%;
        max-width: 520px;
    }
    .container__description{
        background-color: var(--Very-dark-gray-blue);
        text-align: start;
        border-top-right-radius: 90px;
        border-bottom-left-radius: 90px;
        overflow: hidden;
        height: 360px;
    }
    .section3__description{
        min-height: 600px;
        height: 50vh;
        background-image: url("images/bg-pattern-circles.svg");
        background-size:700px;
        background-repeat: no-repeat;
        background-position: top -250px left 40px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: start ;
        padding:50px 8% 0px 0;
                 
    }
    .section3__title{
        font-size: 27px;
        color:var(--White);
        width: 500px;
    }
    .section3__text{
        width: 500px;
        padding: 25px 15px;
        font-size: 16px;
        line-height: 28px;
    }    

    /* -------------------section 4 - pageDesktop------------------------------------- */

    .section4{
        width: 100%;
        display: flex;
    }
    .section4>.image>img{
        transform: scale(1.3) translateX(-100px);
        margin: 100px 0 50px 0;
    }
    .section4>.image{width: 50%;}
    
    .section4__description{
        width: 50%;
        align-items: flex-start;
        margin-top: 80px;
    }
    .section4__description>p{
        max-width: 600px;
        text-align: start;
    }
    .section4__title{max-width: 600px;}
    
    /* ---------------------footer--------------------------------- */

    .footer{
        width: 100%;
        text-align: center;
        background-color: var(--Very-dark-black-blue);
        border-top-right-radius: 120px;
        padding: 0 100px 40px 0;
        display: flex;
        justify-content: space-around;
    }
    .footer>div>spam>a:hover{
        color:rgb(219, 154, 119);
    }

}
